h1 {
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(4, 4, 87);
  
    size: 30px;
    font-family: 'Archivo Black', sans-serif;
    color:black;
    font-weight: 100;
  
    text-align: center;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
/* background */
body {
  background-image: url("image/menubackground.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dropdown Button */
.dropbtn {
  background-color: #6784b9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 19px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #4f93c0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

li {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

body {
  margin: 0;
  padding: 0;
}
.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
