/* headers */
.weatherh1 {
  border-radius: 10px;
  border-style: double;
  border-width: 5px;
  border-color: rgb(4, 4, 87);

  size: 30px;
  font-family: 'Archivo Black', sans-serif;
  color:black;

  text-align: center;
  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

}

.psih1 {
  border-radius: 10px;
  border-style: double;
  border-width: 5px;
  border-color: rgb(4, 4, 87);

  size: 30px;
  font-family: 'Archivo Black', sans-serif;
  color:black;

  text-align: center;
  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

/* backgrounds */
.menubody {
  background-image: url("images/menubackground.gif");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.weatherbody {
  background-image: url("images/weatherbackground.gif");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.psibody {
  background-image: url("images/psibackground.gif");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.plannerbody {
  background-image: url("images/feedbackbackground.gif");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

/* end of backgrounds */

/* tables */
/* .flex-container {
} */

.center, th, td {
  border: 1px solid black;
}

th {
  text-align: left;
}

table {
  border-spacing: 5px;
}

th, td {
  padding: 15px;
}
/* end of tables */

/* psi tracker  */

.center {
  margin-left: auto;
  margin-right: auto;
}

/* flex containers */
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
/* end of flex containers */

/* search box and search button */
.menubody {
  margin: 0;
  padding: 0;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #65cedb;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn{
  background: white;
}

.search-btn {
  color: #36a7b6;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #30575c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn > i {
  font-size: 30px;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(129, 123, 123);
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;

}

/* weather page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: white;
}

.location, .temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}